<!-- views/products.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Produtos</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Lista de Produtos</h1>
      <div id="products-list" class="row">
        <!-- Os produtos serão inseridos aqui -->
      </div>
    </div>

    <script>
      async function fetchProducts() {
        try {
          const response = await fetch("/api/products");
          const products = await response.json();

          const productsList = document.getElementById("products-list");
          productsList.innerHTML = ""; // Limpa o conteúdo anterior

          if (products.length > 0) {
            products.forEach((product) => {
              const productCard = `
                            <div class="col-md-4">
                                <div class="card mb-4">
                                    <img src="/api/${product.ProductImages[0]?.image}" class="card-img-top" alt="${product.name}">
                                    <div class="card-body">
                                        <h5 class="card-title">${product.name}</h5>
                                        <p class="card-text">${product.description}</p>
                                        <p class="card-text"><strong>Quantidade: ${product.quantity}</strong></p>
                                        <a href="/products/${product.id}" class="btn btn-primary">Ver mais</a>
                                    </div>
                                </div>
                            </div>
                        `;
              productsList.innerHTML += productCard;
            });
          } else {
            productsList.innerHTML = "<p>Nenhum produto encontrado.</p>";
          }
        } catch (error) {
          console.error("Erro ao buscar produtos:", error);
        }
      }

      // Chama a função para buscar produtos quando a página é carregada
      fetchProducts();
    </script>
  </body>
</html>
