<!-- views/product.ejs -->
<!DOCTYPE html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Detalhes do Produto</title>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"
    />
  </head>
  <body>
    <div class="container mt-5">
      <h1>Detalhes do Produto</h1>
      <div id="product-details" class="row">
        <!-- Os detalhes do produto serão inseridos aqui -->
      </div>
    </div>

    <script>
      async function fetchProduct() {
        const productId = window.location.pathname.split("/").pop(); // Obtém o ID do produto da URL
        try {
          const response = await fetch(`/api/products/${productId}`);
          const product = await response.json();

          const productDetails = document.getElementById("product-details");
          productDetails.innerHTML = ""; // Limpa o conteúdo anterior

          if (product) {
            const productCard = `
              <div class="col-md-6">
                <img src="/api/${product.ProductImages[0]?.image}" class="img-fluid" alt="${product.name}">
              </div>
              <div class="col-md-6">
                <h5>${product.name}</h5>
                <p>${product.description}</p>
                <p><strong>Quantidade: ${product.quantity}</strong></p>
                <a href="/products" class="btn btn-secondary">Voltar para a lista de produtos</a>
              </div>
            `;
            productDetails.innerHTML = productCard;
          } else {
            productDetails.innerHTML = "<p>Produto não encontrado.</p>";
          }
        } catch (error) {
          console.error("Erro ao buscar produto:", error);
        }
      }

      // Chama a função para buscar o produto quando a página é carregada
      fetchProduct();
    </script>
  </body>
</html>
